# Midtrans
# Docs: https://docs.midtrans.com/reference/getting-started-1
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxxxxxx
MIDTRANS_SANDBOX=true

# Xendit
# Docs: https://developers.xendit.co/api-reference
XENDIT_SECRET_KEY=xnd_development_xxxxxxxxxxxxxxxxxxxxxxxx

# Duitku
# Docs: https://docs.duitku.com
DUITKU_MERCHANT_CODE=Dxxxxx
DUITKU_MERCHANT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DUITKU_SANDBOX=true

# DOKU SNAP QRIS
# Docs: https://developers.doku.com
DOKU_CLIENT_ID=BRN-xxxxxxxx
DOKU_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DOKU_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----"
DOKU_MERCHANT_ID=xxxxxxxx
DOKU_TERMINAL_ID=A01
DOKU_SANDBOX=true
